html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #FAE5FF;
  max-width: 1920px;
  margin: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

::-webkit-input-placeholder {
  color: #0D0D0D;
}

:-ms-input-placeholder {
  color: #0D0D0D;
}

::-ms-input-placeholder {
  color: #0D0D0D;
}

::placeholder {
  color: #0D0D0D;
}

::-webkit-input-placeholder {
  color: #0D0D0D;
}

:-ms-input-placeholder {
  color: #0D0D0D;
}

::-ms-input-placeholder {
  color: #0D0D0D;
}

:-moz-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

::-moz-placeholder {
  color: #0D0D0D;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.home-background {
  background: url(../shoe-kloset/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1rem;
  height: 50vw;
}

.home-background h1 {
  color: #4C0341;
  line-height: calc(64px * 1.25);
  font-family: "Pompiere", cursive;
  font-size: calc(110px * 1.25);
  font-weight: 200;
  width: 25%;
  margin-top: 8rem;
  margin-left: 12rem;
}

.home-background .home-box-header {
  margin-top: -24rem;
  z-index: 15;
  position: absolute;
  right: 0;
}

.home-background .home-box-header img {
  width: 45vw;
}

.under-the-sea {
  background-color: #FAE5FF;
  height: 100%;
  padding: 15rem 0;
  margin-top: -1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.under-the-sea .text-container {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-the-sea .text-container h2 {
  color: #4C0341;
  line-height: 1.2px;
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  font-size: 60px;
  font-weight: 200;
  margin: 2rem 0 2rem 0;
}

.under-the-sea .text-container p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
}

.under-the-sea .text-container a {
  background-color: #4C0341;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 28px;
  margin: 1rem 0 0 0;
  width: 250px;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  font-family: "Lato", sans-serif;
  font-size: 22.5px;
  font-weight: 400;
}

.under-the-sea .text-container a:hover {
  color: #FFFFFF;
  background-color: #FE6F19;
}

.rm-wrapper {
  width: 100%;
  background-color: #FFFFFF;
  height: 52vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rm-wrapper .rm-container1 .texts h3, .rm-wrapper .rm-container2 .texts h3 {
  color: #0D0D0D;
  letter-spacing: 1.3px;
  font-family: "Pompiere", cursive;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
}

.rm-wrapper .rm-container1 .texts p, .rm-wrapper .rm-container2 .texts p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.rm-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rm-container1 img {
  width: 42vw;
  margin-top: -3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 3rem 3rem 0px #FE6F19;
          box-shadow: 3rem 3rem 0px #FE6F19;
}

.rm-container1 .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 9rem 0 18rem;
}

.rm-container1 .texts h3 {
  text-align: left;
  margin: 0 0 1rem 0;
}

.rm-container1 .texts p {
  text-align: left;
  margin: 0 0 0 0;
}

.rm-container1 .texts a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  background-color: #882C07;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: right;
  margin-top: 2rem;
}

.rm-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rm-container2 img {
  width: 42vw;
  margin-top: 5rem;
  -webkit-box-shadow: -3rem 3rem 0px #FE6F19;
          box-shadow: -3rem 3rem 0px #FE6F19;
  -o-object-fit: cover;
     object-fit: cover;
}

.rm-container2 .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 19rem 0 9rem;
}

.rm-container2 .texts h3 {
  text-align: right;
  margin: 0 0 1rem 0;
}

.rm-container2 .texts p {
  text-align: right;
  margin: 0 0 0 0;
}

.rm-container2 .texts a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  background-color: #882C07;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: right;
  margin-top: 2rem;
}

.communication {
  background-color: #FAE5FF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2rem 3fr 1fr;
      grid-template-columns: 1fr 3fr 2rem 3fr 1fr;
  -ms-grid-rows: 9rem 12rem 3.7rem 12rem 9rem;
      grid-template-rows: 9rem 12rem 3.7rem 12rem 9rem;
}

.communication .comm-container .heading {
  margin: 0;
}

.communication .comm-container .heading span {
  font-size: 1.8em;
}

.communication .comm-container .heading span i:nth-child(1) {
  color: #4C0341;
}

.communication .comm-container .heading span i:nth-child(2) {
  color: white;
}

.communication .comm-container .heading h4 {
  color: #0D0D0D;
  line-height: 1.6px;
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  font-size: 58px;
  font-weight: 200;
  display: inline-block;
  position: relative;
  top: 1.5rem;
  margin: 0 0 0 1rem;
}

.communication .comm-container .heading h4 a {
  text-decoration: none;
  color: #0D0D0D;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.communication .comm-container .heading h4 a:hover {
  color: #FE6F19;
  border-bottom: solid 2px #FE6F19;
}

.communication .comm-container p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-top: 1rem;
  margin-left: 5.8rem;
}

.communication .comm-container:nth-child(1) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.communication .comm-container:nth-child(2) {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.communication .comm-container:nth-child(3) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.communication .comm-container:nth-child(4) {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.banner {
  background: url(../shoe-kloset/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vw;
}

.popular-month {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 4rem 0 7rem 0;
}

.popular-month img {
  -webkit-box-shadow: 3rem 3rem 0px #FE6F19;
          box-shadow: 3rem 3rem 0px #FE6F19;
}

.popular-month .texts {
  width: 50%;
  margin: 0 0 0 10rem;
}

.popular-month .texts h5 {
  color: #882C07;
  font-family: "Pompiere", cursive;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 200;
  margin: 5rem 0 2rem 0;
}

.popular-month .texts p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-bottom: 3.5rem;
}

.popular-month .texts a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  background-color: #882C07;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

section {
  background-color: #FAE5FF;
  height: 100%;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

section img:nth-child(1) {
  margin: 1rem;
}

section img:nth-child(2) {
  margin: 1rem;
}

section img:nth-child(3) {
  margin: 1rem;
}

.logo {
  font-family: "Pompiere", cursive;
  font-size: 45.8px;
  line-height: 46px;
  letter-spacing: 1.1px;
  color: #0D0D0D;
  margin-top: 0rem;
  margin-left: 12.4rem;
  text-decoration: none;
  width: 3rem;
}

.dt-nav ul li a,
.mb-nav ul li a {
  color: #0D0D0D;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 22.5px;
  font-weight: 700;
}

.mb-nav {
  display: none;
}

.dt-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2.5rem;
  margin-right: 8rem;
}

.dt-nav ul li {
  margin-right: 1.7rem;
}

.dt-nav ul li a {
  padding: 7px 13px;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}

.dt-nav ul li a:hover {
  background-color: #4C0341;
  color: #FFFFFF;
}

@media (max-width: 1133px) {
  .logo {
    margin-top: -3rem;
    margin-left: 5vw;
  }
}

@media (max-width: 850px) {
  .logo {
    position: absolute;
    top: 3.5rem;
    left: -2rem;
    font-size: 30px;
    line-height: 30px;
  }
  .dt-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .dt-nav ul {
    margin-bottom: 4rem;
    margin-right: 0;
    padding-top: 1rem;
  }
}

@media (max-width: 650px) {
  .logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .sticky-bar {
    width: 100%;
    height: 4rem;
    background-color: #0D0D0D;
    top: 0;
    position: fixed;
    z-index: 60;
  }
  .dt-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: 0;
    z-index: 85;
  }
  .dt-nav ul {
    margin-bottom: 4rem;
    margin-right: 0;
    padding: 0;
  }
  .dt-nav ul li {
    margin-right: 1rem;
  }
  .dt-nav ul li a {
    color: #FFFFFF;
    font-size: 3vw;
  }
}

footer {
  background-color: #882C07;
  height: 45px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  padding-top: 0.7rem;
  margin: 0;
}

footer p a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
}

@media (max-width: 1750px) {
  .home-background .home-box-header {
    margin-top: -28rem;
    z-index: 15;
    position: absolute;
    right: 0;
  }
  .home-background .home-box-header img {
    width: 42vw;
  }
  .under-the-sea {
    padding: 10rem 0;
  }
  .rm-wrapper {
    height: 100%;
  }
  .rm-wrapper .rm-container1 .texts {
    margin: 3rem 5rem 3rem 10rem;
  }
  .rm-wrapper .rm-container2 .texts {
    margin: 6rem 10rem 3rem 5rem;
  }
  .communication {
    -ms-grid-columns: 1fr 3fr 2rem 3fr 1fr;
        grid-template-columns: 1fr 3fr 2rem 3fr 1fr;
    -ms-grid-rows: 9rem 12rem 7rem 12rem 9rem;
        grid-template-rows: 9rem 12rem 7rem 12rem 9rem;
  }
}

/* Larger desktops */
@media (max-width: 1400px) {
  .home-background h1 {
    margin-left: 2rem;
  }
  .home-background .home-box-header img {
    display: none;
  }
  .under-the-sea .text-container {
    width: 70%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .under-the-sea .text-container h2 {
    color: #4C0341;
    line-height: 1.2px;
    text-transform: uppercase;
    font-family: "Pompiere", cursive;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
    line-height: 60px;
  }
  .under-the-sea .text-container p {
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    text-align: center;
  }
  .communication {
    -ms-grid-columns: 1fr 5fr 2rem 5fr 1fr;
        grid-template-columns: 1fr 5fr 2rem 5fr 1fr;
    -ms-grid-rows: 9rem 12rem 10rem 12rem 13rem;
        grid-template-rows: 9rem 12rem 10rem 12rem 13rem;
  }
}

@media (max-width: 1133px) {
  .home-background {
    height: 70vw;
  }
  .rm-wrapper {
    height: 100%;
  }
  .rm-wrapper .rm-container1 .texts {
    margin: 3rem 1rem 3rem 8rem;
  }
  .rm-wrapper .rm-container2 .texts {
    margin: 6rem 9rem 3rem 2rem;
  }
  .communication {
    -ms-grid-columns: 1fr 5fr 2rem 5fr 1fr;
        grid-template-columns: 1fr 5fr 2rem 5fr 1fr;
    -ms-grid-rows: 9rem 12rem 15rem 12rem 13rem;
        grid-template-rows: 9rem 12rem 15rem 12rem 13rem;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .rm-wrapper .rm-container1, .rm-wrapper .rm-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rm-wrapper .rm-container1 img, .rm-wrapper .rm-container2 img {
    width: 100%;
    margin-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .rm-wrapper .rm-container1 .texts, .rm-wrapper .rm-container2 .texts {
    margin: 5rem 3rem 5rem 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .rm-wrapper .rm-container1 .texts h3, .rm-wrapper .rm-container2 .texts h3 {
    text-align: center;
  }
  .rm-wrapper .rm-container1 .texts p, .rm-wrapper .rm-container2 .texts p {
    text-align: center;
  }
  .communication {
    -ms-grid-columns: 1fr 10fr 2rem 10fr 1fr;
        grid-template-columns: 1fr 10fr 2rem 10fr 1fr;
    -ms-grid-rows: 5rem 20rem 8rem 20rem 5rem;
        grid-template-rows: 5rem 20rem 8rem 20rem 5rem;
  }
  .popular-month {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 2rem 7rem 2rem;
  }
  .popular-month img {
    display: none;
  }
  .popular-month .texts {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popular-month .texts h5 {
    text-align: center;
  }
  .popular-month .texts p {
    text-align: center;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 850px) {
  .home-background {
    height: 90vw;
  }
  .home-background h1 {
    font-size: 16vw;
    line-height: 10vw;
  }
  .communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4rem 2rem 2rem 2rem;
  }
  .communication .comm-container {
    margin-bottom: 2rem;
  }
}

/* Landscape phones and down */
@media (max-width: 500px) {
  .home-background {
    height: 130vw;
    margin-top: -5rem;
  }
  .home-background h1 {
    position: absolute;
    bottom: 30rem;
  }
  .home-background .logo {
    display: none;
  }
  .communication {
    margin: 4rem 1rem 2rem 0rem;
  }
  .communication .heading h4 a {
    font-size: 50px;
  }
}

.blog-background {
  background: url(../shoe-kloset/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1rem;
  height: 37vw;
}

.blog-background h1 {
  font-family: "Pompiere", cursive;
  color: #4C0341;
  font-size: 98px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 8rem;
  text-align: center;
  position: relative;
  right: 4rem;
  top: 1rem;
}

.blog-background input[type="checkbox"] {
  text-align: center;
  position: relative;
  right: 4rem;
  top: 1rem;
}

.blog-box-header {
  margin-top: -2rem;
  position: absolute;
  right: 0;
}

.blog-box-header img {
  width: 57.6vw;
  -webkit-box-shadow: -3rem 3rem 0px #FE6F19;
          box-shadow: -3rem 3rem 0px #FE6F19;
  z-index: 10;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-container .run-img1 {
  width: 33vw;
  position: absolute;
  left: 0;
  margin-top: 8rem;
  z-index: 10;
}

.content-container aside {
  width: 25%;
  background-color: #FFFFFF;
  margin-right: 3rem;
  padding-top: 33rem;
  position: relative;
  top: 10rem;
}

.content-container aside .run-img2 {
  display: none;
}

.content-container article {
  width: 60.3%;
  margin-left: 3rem;
}

.content-container article .article-container {
  background-color: #FFFFFF;
  padding: 33rem 10rem 3rem 3rem;
  height: 100%;
}

.content-container article .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 3rem 13rem 4rem 3rem;
}

.content-container article .comment-container .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.content-container article .comment-container .comments p:nth-child(1) {
  margin: 0;
}

.content-container .post-comment {
  background-color: #FAE5FF;
  height: 100%;
  margin-bottom: 7rem;
}

.content-container .post-comment .posting {
  text-align: center;
  margin-right: 13rem;
  position: relative;
}

.content-container .post-comment .posting .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

.content-container .post-comment .posting .info input[type="text"],
.content-container .post-comment .posting .info input[type="email"] {
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background-color: #FAE5FF;
  height: 2rem;
  padding: 2rem;
  width: 47%;
  border: 0;
  border-bottom: 2px solid #FE6F19;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.content-container .post-comment .posting .info input:focus,
.content-container .post-comment .posting .info input:active {
  border: 0;
  border-bottom: 2px solid #FE6F19;
}

.content-container .post-comment .posting .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.content-container .post-comment .posting .input textarea {
  outline: none;
  border: solid 2px #FE6F19;
  background-color: #FAE5FF;
  padding: 2rem;
  margin: 1.5rem 0;
  color: #0D0D0D;
  height: 15rem;
  resize: none;
  overflow: auto;
}

.content-container .post-comment .posting .input textarea:focus,
.content-container .post-comment .posting .input textarea:active {
  border: 0;
  border: solid 2px #FE6F19;
}

.content-container .post-comment .posting .input button {
  border: none;
  background-color: #4C0341;
  color: #FFFFFF;
  padding: 1rem 0;
  margin-top: 1.5rem;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.content-container .post-comment .posting .input button:focus,
.content-container .post-comment .posting .input button:active {
  background-color: #882C07;
}

aside .texts h2 {
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4C0341;
  font-size: 39px;
  font-weight: 200;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

aside .texts p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin: 0 4rem 0 2rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}

aside .texts p a {
  text-decoration: none;
  color: #0D0D0D;
}

aside .texts p a:hover {
  text-decoration: underline;
  color: #FE6F19;
}

aside .texts ul {
  margin: 0 2rem 3rem 1rem;
}

aside .texts ul li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #0D0D0D;
}

aside .texts ul li a {
  text-decoration: none;
  line-height: 1.5;
  color: #0D0D0D;
}

aside .texts ul li a:hover {
  text-decoration: underline;
  color: #FE6F19;
}

article .article-container img {
  display: none;
}

article .article-container h3 {
  color: #882C07;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0 0 0 1.6rem;
  padding-top: 3rem;
  font-size: 59px;
  line-height: 59px;
}

article .article-container p:nth-child(3) {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-left: 2rem;
  margin-top: 0rem;
  font-weight: 600;
}

article .article-container p:nth-child(4) {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 2rem;
  margin-top: 4rem;
}

article h4 {
  font-family: "Pompiere", cursive;
  color: #4C0341;
  font-size: 60px;
  font-weight: 200;
  margin: 3rem 0 0 1.5rem;
}

article .comment-container p:nth-child(1) {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

article .comment-container p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

article .post-comment .posting .info,
article .post-comment .posting .input {
  font-size: 20px;
}

article .post-comment .posting .input button {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Larger desktops */
@media (max-width: 1400px) {
  .blog-background {
    height: 42vw;
  }
  .blog-background h1 {
    margin-top: 3rem;
    right: 0;
    top: 0;
  }
  .blog-box-header {
    display: none;
  }
  .blog-box-header img {
    display: none;
  }
  .content-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-container .run-img1 {
    display: none;
  }
  .content-container article .article-container {
    padding: 0rem 0 3rem 0rem;
  }
  .content-container article .article-container img {
    display: inline-block;
    width: 100%;
    height: 23rem;
    -o-object-fit: cover;
       object-fit: cover;
    border: solid 1rem #FE6F19;
  }
  .content-container article .article-container h3 {
    padding: 5rem 2rem 0 2rem;
  }
  .content-container article .article-container p:nth-child(3) {
    padding: 0 2rem;
  }
  .content-container article .article-container p:nth-child(4) {
    padding: 0 2rem;
  }
  .content-container article .comment-container {
    margin: 3rem 3rem 4rem 3rem;
  }
  .content-container article .comment-container p:nth-child(1) {
    font-size: 24px;
  }
  .content-container article .comment-container p:nth-child(2) {
    font-size: 20px;
    line-height: 1.5;
  }
  .content-container .post-comment .posting {
    margin-right: 2rem;
  }
  .content-container aside {
    width: 35%;
    margin-right: 0;
    padding-top: 0;
    position: relative;
    top: 0;
  }
  .content-container aside .texts .run-img2 {
    display: block;
    width: 100%;
    height: 23rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .blog-background {
    height: 50vw;
  }
  .blog-background h1 {
    margin-top: 0rem;
    right: 0;
    top: 0;
  }
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container article {
    width: 100%;
    margin-left: 0;
  }
  .content-container article .article-container {
    padding: 0rem 0 3rem 0rem;
  }
  .content-container article .article-container img {
    width: 100%;
    height: 30rem;
    border: solid 1rem #FE6F19;
  }
  .content-container .post-comment {
    margin-bottom: 2rem;
  }
  .content-container .post-comment .posting {
    margin-right: 0;
  }
  .content-container aside {
    width: 100%;
  }
  .content-container aside .texts .run-img2 {
    width: 100%;
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 648px) {
  article .article-container h3 {
    color: #882C07;
    font-family: "Pompiere", cursive;
    font-weight: 200;
    margin: 0 0 0 1.2rem;
    font-size: 49px;
    line-height: 49px;
  }
  article .article-container p:nth-child(3) {
    font-size: 19px;
    margin-left: 1rem;
  }
  article .article-container p:nth-child(4) {
    font-size: 21px;
    margin-left: 1rem;
    margin-top: 3rem;
  }
  article .comment-container {
    margin: 0;
  }
  article .comment-container .comments {
    margin: 0;
  }
  article .comment-container .comments p:nth-child(1) {
    font-size: 19px;
  }
  article .comment-container .comments p:nth-child(2) {
    font-size: 19px;
  }
  article .post-comment .posting .info,
  article .post-comment .posting .input {
    font-size: 20px;
  }
  article .post-comment .posting .input button {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/* Landscape phones and down */
@media (max-width: 500px) {
  .blog-background {
    background: none;
    background-size: 0;
    height: 5rem;
  }
  .blog-background h1 {
    display: none;
  }
  .blog-background .logo {
    display: none;
  }
  .content-container .post-comment .posting .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-container .post-comment .posting .info input[type="text"],
  .content-container .post-comment .posting .info input[type="email"] {
    padding: 1.5rem;
    width: 100%;
    margin-top: 2rem;
  }
  .content-container article .comment-container {
    margin-bottom: 1rem;
  }
}

.contact-background {
  background: url(../shoe-kloset/contact-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1rem;
  height: 37vw;
}

.contact-background h1 {
  font-family: "Pompiere", cursive;
  color: #4C0341;
  font-size: 98px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 8rem;
  text-align: center;
  position: relative;
  right: 4rem;
  top: 1rem;
}

.send-message,
.send-message2 {
  background-color: #FFFFFF;
  margin-top: -2rem;
  position: absolute;
  right: 8rem;
  width: 60%;
  -webkit-box-shadow: -3rem 3rem 0px #FE6F19;
          box-shadow: -3rem 3rem 0px #FE6F19;
  z-index: 10;
}

.send-message .message,
.send-message2 .message {
  text-align: center;
  margin: 5rem;
  position: relative;
}

.send-message .message .info,
.send-message2 .message .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

.send-message .message .info input[type="text"],
.send-message .message .info input[type="email"],
.send-message2 .message .info input[type="text"],
.send-message2 .message .info input[type="email"] {
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background-color: #FFFFFF;
  height: 2rem;
  padding: 2rem;
  width: 47%;
  border: 0;
  border-bottom: 2px solid #FE6F19;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.send-message .message .info input:focus,
.send-message .message .info input:active,
.send-message2 .message .info input:focus,
.send-message2 .message .info input:active {
  border: 0;
  border-bottom: 2px solid #FE6F19;
  background-color: #FAE5FF;
}

.send-message .message .input,
.send-message2 .message .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.send-message .message .input textarea,
.send-message2 .message .input textarea {
  outline: none;
  border: solid 2px #FE6F19;
  background-color: #FFFFFF;
  padding: 2rem;
  margin: 1.5rem 0;
  color: #0D0D0D;
  height: 15rem;
  resize: none;
  overflow: auto;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.send-message .message .input textarea:focus,
.send-message .message .input textarea:active,
.send-message2 .message .input textarea:focus,
.send-message2 .message .input textarea:active {
  border: 0;
  border: solid 2px #FE6F19;
  background-color: #FAE5FF;
}

.send-message .message .input button,
.send-message2 .message .input button {
  border: none;
  background-color: #882C07;
  color: #FFFFFF;
  padding: 1rem 0;
  margin-top: 1.5rem;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.send-message .message .input button:focus,
.send-message .message .input button:active,
.send-message2 .message .input button:focus,
.send-message2 .message .input button:active {
  background-color: #4C0341;
}

.send-message2 {
  display: none;
}

.info-section {
  margin: 10rem 0rem 10rem 10rem;
}

.info, .input {
  font-size: 20px;
}

.input button {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info-section .sm-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.info-section .sm-icons li {
  margin: 0 1rem;
}

.info-section .sm-icons li a {
  color: #4C0341;
  font-size: 32px;
}

.info-section h2 {
  font-family: "Pompiere", cursive;
  color: #4C0341;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 36px;
  margin-left: 1rem;
}

.info-section p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.5;
  margin-left: 1rem;
}

@media (max-width: 1750px) {
  .contact-background .send-message {
    margin-top: -2rem;
    right: 0;
    width: 65%;
  }
  .info-section {
    margin: 10rem 0rem 15rem 3rem;
  }
}

/* Larger desktops */
@media (max-width: 1400px) {
  .contact-background {
    height: 50vw;
  }
  .contact-background h1 {
    font-size: 110px;
    text-align: center;
    position: relative;
    right: 0;
    top: 0;
  }
  .send-message {
    display: none;
  }
  .send-message2 {
    display: block;
    background-color: #FFFFFF;
    margin-top: -2rem;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 0;
    border-left: solid 3rem #FE6F19;
    border-bottom: solid 3rem #FE6F19;
  }
  .send-message2 .message {
    text-align: center;
    margin: 5rem;
    position: relative;
  }
  .send-message2 .message .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    font-size: 26px;
  }
  .send-message2 .message .info input[type="text"],
  .send-message2 .message .info input[type="email"] {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    background-color: #FFFFFF;
    height: 2rem;
    padding: 2rem;
    width: 47%;
    border: 0;
    border-bottom: 2px solid #FE6F19;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
  }
  .send-message2 .message .info input:focus,
  .send-message2 .message .info input:active {
    border: 0;
    border-bottom: 2px solid #FE6F19;
    background-color: #FAE5FF;
  }
  .send-message2 .message .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    font-size: 26px;
  }
  .send-message2 .message .input textarea {
    outline: none;
    border: solid 2px #FE6F19;
    background-color: #FFFFFF;
    padding: 2rem;
    margin: 1.5rem 0;
    color: #0D0D0D;
    height: 15rem;
    resize: none;
    overflow: auto;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
  }
  .send-message2 .message .input textarea:focus,
  .send-message2 .message .input textarea:active {
    border: 0;
    border: solid 2px #FE6F19;
    background-color: #FAE5FF;
  }
  .send-message2 .message .input button {
    border: none;
    background-color: #882C07;
    color: #FFFFFF;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
    outline: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-size: 30px;
  }
  .send-message2 .message .input button:focus,
  .send-message2 .message .input button:active {
    background-color: #4C0341;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50rem 0 10rem 0;
  }
  .info-section .sm-icons {
    width: 70%;
    margin-bottom: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info-section .sm-icons li a {
    font-size: 72px;
  }
  .info-section h2 {
    font-weight: 200;
    font-size: 76px;
    margin-bottom: 0;
  }
  .info-section p {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 0;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .contact-background {
    height: 60vw;
  }
  .contact-background h1 {
    margin-top: 14vw;
  }
  .send-message2 {
    margin-top: 0;
  }
  .send-message2 .message {
    text-align: center;
    margin: 2rem;
    position: relative;
  }
  .send-message2 .message .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .send-message2 .message .info input[type="text"],
  .send-message2 .message .info input[type="email"] {
    height: 3rem;
    padding: 3rem;
    width: 100%;
    border-bottom: 3px solid #FE6F19;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
    margin-top: 2rem;
  }
  .send-message2 .message .info input:focus,
  .send-message2 .message .info input:active {
    border-bottom: 3px solid #FE6F19;
  }
  .send-message2 .message .input textarea {
    border: solid 3px #FE6F19;
    margin-top: 3rem;
    height: 20rem;
  }
  .send-message2 .message .input textarea:focus,
  .send-message2 .message .input textarea:active {
    border: solid 3px #FE6F19;
  }
  .send-message2 .message .input button {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 40px;
  }
  .info-section {
    margin: 65rem 0 10rem 0;
  }
  .contact-background {
    height: 60vw;
  }
  .contact-background h1 {
    font-size: 80px;
  }
}

/* Landscape phones and down */
@media (max-width: 500px) {
  .contact-background {
    background: none;
    background-size: 0;
    height: 5rem;
  }
  .contact-background h1 {
    display: none;
  }
  .contact-background .logo {
    display: none;
  }
  .send-message2 {
    border-left: 0;
    border-bottom: solid 3rem #FE6F19;
  }
  .send-message2 .message {
    margin: 1rem;
    position: relative;
  }
  .send-message2 .message .info {
    font-size: 24px;
  }
  .send-message2 .message .info input[type="text"],
  .send-message2 .message .info input[type="email"] {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .send-message2 .message .input {
    font-size: 24px;
  }
  .send-message2 .message .input textarea {
    margin: 1.5rem 0;
    height: 20rem;
  }
  .info-section ul li a {
    font-size: 72px;
  }
  .info-section h2 {
    font-size: 56px;
    padding: 2rem;
  }
  .info-section p {
    font-size: 24px;
    padding: 2rem;
    word-wrap: break-word;
  }
}
